<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2 class="text-center mt-5 fw-bold">Best ToDo App</h2>
      <div class="my-5">
        <app-add-todo-item
          (ListToDos)="ListToDosHandler($event)"
        ></app-add-todo-item>
      </div>
      <button class="btn btn-danger" (click)="deleteAllTodos()">
        Delete All ToDos
      </button>
      <div class="mt-5">
        <app-todo-list [toDosList]="toDosList"></app-todo-list>
      </div>
    </div>
  </div>
</div>
